
.id_resource{
    display: none;
}

.collapsible-body{
    padding: 0px 0px 0px 0px !important;
}

.collapsible-body, .collection-item{
    background-color: rgb(245, 245, 245) !important;
}

.collection .collection-item.active {
    background-color: rgb(0, 48, 87) !important;
}

.collection-item:hover{
    background-color: white !important;
    cursor: pointer;
}

.table-resources-options:hover {
    background-color: black !important;
}

.card.horizontal .card-image {
    max-width: 35% !important;
}

.card-image{
    padding-left: 20px;
    display: flex !important;
    align-items: center !important;
}

.card .card-content {
    padding: 20px 24px 20px 24px;
    border-radius: 0 0 2px 2px;
}

.card-content-resources{
    position: fixed !important;
}

.no-elements-collections{
    margin-left: 20px !important;
}




